:root {
    --black: #000000;
    --peppermint:  #ffe6e6;
    --hoverColourLight: #ffb3b3;
   
    


}

body,html{margin:0}

body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: sans-serif;
    font-weight: 700;
}

.light-theme {
    --fontColor : var(--black);
    --bg: var(--peppermint);
    --btnBGColor: var(--peppermint);
    --btnFont: var(--black);
    --btnColorHover: var(--hoverColourLight);
    
}

.dark-theme{
    --fontColor: var(--peppermint);
    --bg: var(--black);
    --btnBGColor: var(--peppermint);
    --btnFont: var(--black);
    --btnColorHover:  #999999;


}

/*-------------------------------------------------------*/

header{
    height: 50px;
    background: #E07979;
    border: 2px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.container{
    width: 70%;
    margin: 0 auto;
    
}

nav{
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


.container ul li:nth-child(1)  {
    display: inline-block;
    margin-left: 90px;
    margin-right: 100px;
    padding-top: 15px;
    border: 2px solid;
    border-top: none;
    border-bottom: none;
    height: 35px;
    
    
}

.container ul li:nth-child(2)  {
    display: inline-block;
    margin-left: 180px;
    margin-right: 190px;
    padding-top: 15px;
    
}

.container ul li:nth-child(3)  {
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 15px;
    
}



nav  a {

    color: white;
    text-decoration: none;
    text-transform: uppercase;

}

nav li:hover{

    background: var(--peppermint);
}











.btn{
    position: absolute;
    top:7px;
    right:70px;
    height: 35px;
    width: 140px;
    border-radius: 20px;
    border: 2px solid;
    background-color: var(--btnBGColor);
    color: var(--btnFont);
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn:hover {
    --btnBGColor: var(--btnColorHover);
}



/*-------------------------------------------------------*/












