

:root {
    --black: #000000;
    --peppermint:  #ffe6e6;
    --hoverColourLight: #ffb3b3;
   
    


}

body,html{margin:0}
.header{
    height: 74px;
    background: #E07979;
    border-bottom: 2px solid;
}


body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: sans-serif;
}






.light-theme {
    --fontColor : var(--black);
    --bg: var(--peppermint);
    --btnBGColor: var(--peppermint);
    --btnFont: var(--black);
    --btnColorHover: var(--hoverColourLight);
    
}

.dark-theme{
    --fontColor: var(--peppermint);
    --bg: var(--black);
    --btnBGColor: var(--peppermint);
    --btnFont: var(--black);
    --btnColorHover:  #999999;


}

.btn{
    position: absolute;
    top:5px;
    right:4px;
    height: 54px;
    width: 181px;
    border-radius: 20px;
    border: 2px solid;
    background-color: var(--btnBGColor);
    color: var(--btnFont);
    font-size: 30px;
}

.btn:hover {
    --btnBGColor: var(--btnColorHover);
}

